* {
    padding: 0;
    margin: 0;
    text-decoration: none !important;
    list-style-type: none;
    box-sizing: border-box;
}

:root {
    --montserrat: 'Montserrat', sans-serif;
    --nunito: 'Nunito Sans', sans-serif;
    --roboto: 'Roboto', sans-serif;
    --work: 'Work Sans', sans-serif;
}

/* Header Starting */

header {
    padding: 18px 0;
}

header .logo img {
    width: 70px;
    height: 70px;
}

.navbar-toggler {
    margin-left: 25px;
    margin-bottom: 20px;
    margin-top: 20px;
}

header .navbar .navbar-nav a {
    font-family: var(--montserrat);
    font-weight: 500;
    font-size: 12px;
    color: #191919;
    text-transform: uppercase;
    cursor: pointer;
    transition: 500ms;
    margin-left: 33px;
}

header .navbar .navbar-nav .active {
    color: #007d2f !important;
}

header .navbar .navbar-nav a:hover {
    color: #007d2f !important;
}

/* Header To Be Continent */

/* Section Starting */

section .title {
    background-color: #323232;
    text-align: center;
    width: 100%;
}

section .title h2 {
    font-weight: 500;
    font-family: var(--montserrat);
    color: #fff;
    font-size: 62px;
    padding-top: 116px;
    text-transform: capitalize;
}

section .title p {
    font-weight: 400;
    font-family: var(--nunito);
    font-style: 23px;
    color: #fff;
    margin-top: 24px;
    text-align: center;
    padding-bottom: 111px;
    line-height: 36px;
}

/* Indicator Starting */

section .indicator {
    background-color: green;
}

section .indicator .col-12 {
    padding: 62px 0px 102px 0px;
}

section .indicator .icon img {
    transition: 500ms linear;
    cursor: pointer;
    /* animation: name duration timing-function delay iteration-count direction fill-mode; */
    animation: icon 5s linear 100;
}

@keyframes icon {
    0% {
        transform: rotateY(0deg);
    }
    100% {
        transform: rotateY(360deg);
    }
}

section .indicator p {
    font-weight: 500;
    font-family: var(--montserrat);
    font-size: 12px;
    color: #fff;
    text-transform: uppercase;
    padding-top: 5px;
}

/* About Starting */

.about {
    background-color: #f5f5f5
}

.img-fluid {
    width: 100%;
}

section .about .text {
    padding-left: 110px;
}

section .about h2 {
    font-weight: 500;
    font-size: 30px;
    color: #171717;
    margin-top: 140px;
    font-family: var(--montserrat);
}

section .about .col-auto {
    font-weight: 400;
    font-family: var(--nunito);
    font-size: 16px;
    color: #787878;
    margin-top: 40px;
    line-height: 24px;
}

section .about .signature {
    margin-top: 36px;
}

/* Project Starting */

section .project h2 {
    font-size: 30px;
    font-weight: 500;
    color: #1d1d1d;
    font-family: var(--montserrat);
    margin-top: 105px;
}

section .project p {
    font-family: var(--nunito);
    font-weight: 400;
    font-size: 16px;
    color: #787878;
    margin-top: 40px;
    line-height: 24px;
}

section .project a {
    display: inline-block;
    margin-top: 40px;
    background-color: #007d2f;
    color: #fff;
    font-style: 500px;
    font-family: var(--montserrat);
    font-size: 12px;
    padding: 14px 40px;
    margin-bottom: 100px;
    text-transform: uppercase;
}

/* Footer Starting */

footer {
    background-color: #141414;
}

footer .col-12 {
    padding: 100px 0px;
}

footer .col-12 h2 {
    font-weight: 500;
    font-family: var(--montserrat);
    font-size: 18px;
    color: #fff;
}

footer .col-12 p {
    font-weight: 400;
    font-size: 15px;
    font-family: var(--montserrat);
    color: #bcbcbc;
    margin-top: 28px;
}

footer .col-12 a {
    font-weight: 400;
    font-family: var(--nunito);
    font-size: 15px;
    color: #bcbcbc;
    text-align: center;
}

footer .col-12 button {
    border: none;
    background: transparent;
    text-align: left;
    font-weight: 400;
    font-family: var(--work);
    font-size: 15px;
    color: #bcbcbc;
    margin-top: 10px;
}

footer .col-12 ul li a {
    font-weight: 400;
    font-family: var(--nunito);
    font-size: 17px;
    color: #bcbcbc;
    line-height: 24px;
}

/* Media Query Starting */

/* ==== 1200PX===== */

@media (min-width:1200px) {
    footer ul li {
        margin-left: 35px;
    }
}

@media (max-width:1200px) {
    section .about h2 {
        margin-top: 40px;
    }
    footer ul li {
        margin-left: 25px;
    }
}

/* ====992PX ==== */

@media (max-width:992px) {
    /* Section-title */
    section .title h2 {
        font-size: 50px;
        padding-top: 80px;
    }
    section .title p {
        padding-bottom: 70px;
    }
    /* About Starting */
    section .about h2 {
        margin-top: 60px;
    }
    .signature {
        padding-bottom: 40px;
        text-align: center
    }
    section .about .text {
        text-align: center;
        padding: 0px 10px;
    }
    /* Indicator */
    section .indicator .col-12 {
        padding: 42px 0px;
    }
    /* Project */
    section .project h2 {
        font-size: 25px;
        margin-top: 65px;
    }
    section .project p {
        margin-top: 30px;
    }
    section .project a {
        margin-top: 30px;
        margin-bottom: 60px;
    }
    /* Footer starting */
    footer ul li {
        margin-left: 15px;
    }
    @media (max-width:767px) {
        /* Section-title */
        section .title h2 {
            font-weight: 400;
            font-size: 40px;
            padding-top: 40px;
        }
        section .title p {
            padding-bottom: 40px;
        }
        /* Indicator */
        section .indicator .col-12 {
            padding: 28px 0px;
        }
        /* About Starting */
        section .about h2 {
            margin-top: 40px;
            font-size: 30px;
            font-weight: 400;
        }
        .signature {
            padding-bottom: 30px;
            text-align: center
        }
        section .about .text {
            text-align: center;
            padding: 0px 15px;
        }
        section .about .col-auto {
            margin-top: 20px;
        }
        /* Project */
        section .project h2 {
            font-size: 20px;
            margin-top: 45px;
        }
        section .project p {
            margin-top: 20px;
        }
        section .project a {
            margin-top: 15px;
            margin-bottom: 20px;
        }
        /* Footer  */
        footer .col-12 {
            padding: 50px 0px;
            text-align: center;
        }
        /* Footer ul */
        footer .footer-ul {
            margin-top: 30px;
            text-align: center;
        }
    }
    /* ====576PX==== */
    @media (max-width:576px) and (min-width:321px) {
        /* Header */
        .fa {
            font-size: 30px;
        }
        /* Section-title */
        section .title h2 {
            font-weight: 400;
            font-size: 30px;
            padding-top: 20px;
        }
        section .title p {
            font-size: 14px;
            margin: 10px 5px;
            font-weight: 100;
            padding-bottom: 15px;
        }
        /* Indicator */
        section .indicator .col-12 {
            padding: 20px 0px;
        }
        /* About Starting */
        section .about h2 {
            margin-top: 20px;
            font-size: 25px;
            font-weight: 400;
        }
        .signature {
            padding-bottom: 20px;
            text-align: center
        }
        section .about .text {
            text-align: center;
            padding: 0px 20px;
        }
        section .about .col-auto {
            margin-top: 15px;
            font-size: 14px;
            font-weight: 100;
        }
        /* Project */
        section .project h2 {
            font-size: 18px;
            margin-top: 35px;
        }
        section .project p {
            margin: 15px 20px;
            font-size: 14px;
            font-weight: 100;
        }
        section .project a {
            margin-top: 0px;
            margin-bottom: 15px;
        }
    }
    @media (max-width:320px) {
        footer .footer-ul {
            display: flex;
            flex-direction: column;
            text-align: center;
        }
        footer .footer-ul ul {
            padding: 0;
        }
        footer ul li {
            margin-left: 0px;
        }
        footer .col-12 {
            padding: 50px 0px 20px 0px
        }
    }
}